#buttonGiorni{
    position: absolute;
    right: 0;
    margin: 10px 10px;
    z-index: 9999;
}

#barraGiorni {
    text-align: center;
    background-color: #f4f5f8;
    overflow: hidden;

}

ion-icon{
    width: 30px;
    height: 30px;
}

